################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageCaptureFromWebCam/Captures
/.vs/ImageCaptureFromWebCam/v15/Server/sqlite3
